@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #0d1128;
}

html::-webkit-scrollbar-thumb {
    background: #2355d3;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.h-top{
    background-color: #ecf5fa;
    overflow: hidden;
}

.h-top .fa-location-dot,
.h-top .fa-envelope,
.h-top .fa-phone
{
    font-size: 15px;
    color: #2355d3;
    padding-right: 3px;
}

.h-left{
    float: left;
    padding: 3px 0;
}

.h-right{
    float: right;
    padding: 3px 0;
}

.h-email{
    display: inline-block;
    margin-right: 25px;
}

.h-phone{
    display: inline-block;
}

.h-left a, .h-right a{
    color: #292930;
    font-size: 15px;
    font-weight: 500;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.h-left a:hover, .h-right a:hover{
    color: #2355d3;
}


/* nav{
    background-color: #f2f2f2;
} */


nav{
    max-height: 80px;
    width: 100%;
}

nav a{
    text-decoration: none;
}

nav a.logo{
    color: #0d1128;
    font-size: 37px;
    line-height: 80px;
    padding: 0 100px;
    padding-left: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

nav a.logo span{
    color: #2355d3;
    font-size: 47px;
}

nav ul{
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;
}

nav ul li a{
    color: #0d1128;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 500;
}

nav ul li a.active{
    color: #2355d3;
}

nav li a.active , nav li a:hover{
    color: #2355d3;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.cbtn{
    padding: 8px 15px;
    border: 2px solid #2355d3;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #2355d3;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.cbtn:hover{
    background-color: #2355d3;
    color: #fff;
}

.checkbtn{
    font-size: 30px;
    color: #2355d3;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

.slider{
    /* position: relative; */
    /* background-image: url(../Image/slider.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
}

.slider .img-wrapper{
    overflow: hidden;
    /* position: absolute; */
    /* top: 0; */
    object-fit: cover;
    object-position: center;
}

.slider .img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.slider-content{
    width: 100%;
    z-index: 10;
    padding-top: 100px;
    /* position: absolute; */
    /* top: 100px; */
}

.slider-content h2{
    font-size: 37px;
    color: #292930;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 1px;
}

.slider-content h2 span{
    display: block;
}

.slider-content p{
    color: #8f8f8f;
    padding: 20px 0;
    width: 55%;
}

.btn{
    text-decoration: none;
    background-color: #2355d3;
    border: 1px solid #2355d3;
    color: #fff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 7px 15px;
    font-size: 18px;
    transition: all .15s ease-in-out ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all .15s ease-in-out ;
    -moz-transition: all .15s ease-in-out ;
    -ms-transition: all .15s ease-in-out ;
    -o-transition: all .15s ease-in-out ;
}

.btn:hover{
    background-color: transparent;
    color: #2355d3;
    background-color: transparent;
}

.s-flex{
    display: flex;
    /* justify-content: space-between; */
}

.s-right img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 400px;
    height: 100%;
}

section{
    padding: 50px 0;
}

.sec-heading{
    text-align: center;
    width: 100%;
}

.sec-heading h2{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #0d1128;
    padding: 5px 0;
}
.sec-heading p{
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    width: 65%;
    display: inline-block;
}

.feat{
    justify-content: space-around;
    padding: 15px 0;
}

.feat a img{
    width: 200px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.a-left h5{
    color: #2355d3;
    font-size: 25px;
    font-weight: 400;
}

.a-left h2 {
    font-size: 35px;
    font-weight: 600;
    color: #292930;
}

.a-left p{
    color: #8f8f8f;
    padding: 11px 0;
}

.hbox{
    padding: 10px 20px 0 0;
    margin: 20px 0;
}

.hleft .fa-heart-pulse{
    background-color: #ecf5fa;
    padding: 10px 5px;
    font-size: 35px;
    color: #2355d3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 20px;
}

.hright{
    padding-left: 15px;
}

.hright h6 {
    color: #0d1128;
    font-size: 24px;
    font-weight: 400;
}

.hright p{
    font-weight: 300;
    font-size: 16px;
    font-size: 16px;
    padding: 2px 1px;
}

.more-btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 25px 0 ;
}

.abtn {
    text-align: center;
    background: transparent;
    color: #2355d3;
    background-color: transparent;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.abtn:hover{
    background-color: #2355d3;
    color: #fff;
}

.a-right{
    padding: 30px 0;
    padding-left: 50px;
}

.a-right img{
    padding: 20px 0;
    width: 500px;
    height: 400px;

}


.service{
    background-color: #ecf5fa;
    padding: 70px 0;
}

.sec-heading h5{
    color: #2355d3;
    font-size: 21px;
    font-weight: 400;
}




.ser-parent{
    width: 100%;
    flex-wrap: wrap;
    margin: 25px 0;
}

.ser-box{
    width: 275px;
    height: auto;
    background-color: #ffffffd2;
    flex: 0 1 auto;
    margin: 20px 0;
    padding: 20px ;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.ser-box img{
    width: 100px;
    padding: 20px;
    background-color: #2355d3;
    border-radius: 50%;
    margin-left: 10px;
    margin: 5px 0;
}

.ser-box h2{
    font-weight: 400;
    font-size: 25px;
    color: #2355d3;
    padding: 5px 0;
}

.ser-box p{
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0;
    margin-bottom: 10px;
}

.ser-box a{
    color: #2355d3;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.ser-box a .fa-arrow-right-long{
    padding-left: 8px;
}

.ser-box a:hover{
    color: #0d1128;
}

.work-box{
    width: 275px;
    height: auto;
    background-color: #ffffffd2;
    flex: 0 1 auto;
    margin: 20px 0;
    /* padding: 20px ; */
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.work-box img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.wbtn{
    margin: 0;
    margin-bottom: 20px;
    background-color: transparent;
    color: #2355d3;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.wbtn:hover{
    background-color: #2355d3;
    color: #fff;
}

.ser-parent {
    margin-bottom: 0;
}

.live{
    padding: 2px 0;
    background-color: #ecf5fa;
}

.live-parent{
    width: 100%;
    flex-wrap: wrap;
    margin: 25px 0;
}


.live-box{
    width: 20%;
    height: auto;
    text-align: center;
}

.live-box .fa-award,
.live-box .fa-heart-pulse,
.live-box .fa-user,
.live-box .fa-trophy
{
    color: #2355d3 !important;
    font-size: 55px;
}

.live-box h2{
    color: black;
    padding: 15px 0;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 5px;
}

.live-box span{
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}


.t-wrapper{
    width: 100%;
    flex-wrap: wrap;
    margin: 25px 0;
}

.our-team{
    width: 250px;
    padding: 20px 15px 30px;
    background:  #ecf5fa;
    border-radius: 15px;
    text-align: center;
}
.our-team .pic{
    display: inline-block;
    width: 176px;
    height: 175px;
    padding: 10px;
    margin-bottom: 25px;
}

.pic img{
    width: 150px;
    height: 100%;
    border-radius: 50%;
}
.our-team .title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #292930;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}
.our-team .post{
    display: block;
    font-size: 15px;
    color: #2355d3;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.our-team .social{
    padding: 0;
    margin: 0;
    list-style: none;
}
.our-team .social li{
    display: inline-block;
    margin-right: 5px;
    cursor: pointer;
}
.our-team .social li a{
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #2355d3;
    border: 1px solid #2355d3;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.our-team:hover .social li a{
    background: #2355d3;
    color: #fff;
    cursor: pointer;
}

.social li .fa-facebook-f,
.social li .fa-twitter,
.social li .fa-linkedin-in
{
    color: #2355d3;

}


.contact{
    background-image: url(./image/contactus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.c-right{
    padding-left: 30px;
}

.c-right .sec-heading{
    text-align: left;
}

.c-right .sec-heading h2,
.c-right .sec-heading p{
    text-align: left;
    width: 100%;
    color: #fff;
}

.c-right .sec-heading p{
    color: #ffffffbd;
}

.formwrapper{
    margin: 10px 0;
    padding: 10px 0;
}

.formwrapper input,
.formwrapper button,
.formwrapper textarea
{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    font-size: 17px;
    outline: none;
    border: 2px solid #2355d3;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
}

.formwrapper button{
    width: 25%;
    cursor: pointer;
    background-color: #2355d3;
    color: #fff;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.formwrapper button:hover{
    background-color: #fff;
    color: #2355d3;
}

.contact .left iframe{
    height: 525px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


#box{
    margin: 50px;
}

.img-con {
	position: absolute;
}
.img-con img {
	height: 1px;
	width: 1px;
}
.twrapper {
	background-color: #ecf5fa;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0.6em;
}
.testimonial-container {
	width: 85%;
	height: 100%;
	position: relative;
	margin: auto;
	padding: 1.8em 1.2em;
}
.testimonial-container p {
	color: #8c8c90;
	text-align: center;
	font-size: 0.9em;
	line-height: 2em;
	letter-spacing: 0.05em;
}
.testimonial-container img {
	display: block;
	margin: 1.8em auto 1.25em auto;
	border-radius: 50%;
	width: 4.4em;
}
.testimonial-container h3 {
	color: #2d3d67;
	font-size: 1em;
	text-align: center;
}
.testimonial-container h6 {
	color: #bcc4da;
	font-size: 0.9em;
	letter-spacing: 0.03em;
	font-weight: 400;
	text-align: center;
}
.twrapper button {
	font-size: 1.8em;
	color: #0a69ed;
	height: 2.2em;
	width: 2.2em;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: #ffffff;
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
button#next {
	right: -1.1em;
}
button#prev {
	left: -1.1em;
}

.fab {
	color: #ff0000;
}
@media screen and (max-width: 650px) {
	.wrapper {
		font-size: 14px;
	}
}






footer{
    background-color:  #ecf5fa;
    padding: 10px;
}

.f-nav{
    text-align: center;
}

.f-nav li{
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
}

.f-nav li a{
    text-decoration: none;

    color: #292930;
    font-size: 18px;
    font-weight: 500;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.f-nav li a:hover{
    color: #2355d3;
}

.copyright a{
    text-decoration: none;
    color: inherit;
}

.copyright a:hover{
    color: #2355d3;
}

.copyright{
    text-align: center;
    color: #0d1128;
    font-size: 15px;
    font-weight: 400;
    margin: 6px 0;
}



/* Responsive */


@media (max-width: 1300px){

    .container{
        padding: 0 5%;
    }

    nav ul li {
        margin-left: 15px;
    }

    nav ul li a {
        font-size: 15px;
    }

    .cbtn {
        padding: 8px 10px;
    }

    .ser-box {
        width: 251px;
    }

    .work-box {
        width: 250px;
    }

    .formwrapper button {
        width: 50%;
    }


}

@media (max-width: 1200px){

    nav a.logo {
        padding: 0;
    }

    .slider-content {
        padding-top: 50px;
    }

    .s-right img {
        margin-bottom: 43px;
    }

    section{
        padding: 35px 0;
    }

    .a-right img {
        width: 475px;
        height: 503px;
    }

    .ser-box {
        width: 232px;
        padding: 12px;
    }

    .work-box {
        width: 230px;
    }

    .our-team {
        width: 225px;
    }

    .contact .left iframe {
        width: 475px;
    }

    .a-right img {
        width: 420px;
    }

}


@media (max-width: 1080px){

    nav a.logo {
        padding-left: 0;
    }

    nav a.logo span {
        color: #2355d3;
        font-size: 35px;
    }

    nav ul li a {
        font-size: 14px;
    }

    nav ul li {
        margin-left: 10px;
    }

    nav a.logo {
        font-size: 30px;
    }

    nav a.logo span {
        color: #2355d3;
        font-size: 40px;
    }

    section {
        padding: 30px 0;
    }

    .feat a img {
        width: 186px;
    }

    .a-right img {
        width: 360px;
    }

    .ser-box {
        width: 360px;
        padding: 12px;
    }

    .work-box {
        width: 196px;
    }

    .our-team {
        width: 197px;
    }

    .contact .left iframe {
        width: 400px;
    }

    .ser-parent {
        margin-bottom: 0;
        justify-content: space-around;
    }

    .live-box h2 {
        padding: 9px 0;
        padding-bottom: 9px;
        font-size: 26px;
        padding-bottom: 5px;
    }

    .live-box .fa-award, .live-box .fa-heart-pulse, .live-box .fa-user, .live-box .fa-trophy {

        font-size: 40px;
    }

}


@media (max-width: 952px){

    nav a.logo{
        font-size: 30px;
    }

    .cbtn {
        padding: 6px 4px;
    }

    nav a.logo span {
        color: #2355d3;
        font-size: 40px;
    }

    nav a.logo {
        font-size: 26px;
    }

    nav ul li {
        margin-left: 6px;
    }

    .btn {
        padding: 8px 11px;
        font-size: 16px;
    }

    .slider-content h2 {
        font-size: 30px;
    }

    .slider-content p {
        font-size: 16px;
        width: 80%;
    }

    .sec-heading h2 {
        font-size: 30px;
    }

    .sec-heading p{
        font-size: 16px;
    }

    .work-box {
        width: 174px;
        height: 205px;
    }

    .our-team {
        width: 175px;
    }

    #box {
        margin: 20px;
    }

    .f-nav li a {
        font-size: 16px;
    }

    .copyright {
        font-size: 13px;
    }

    .a-left h2 {
        font-size: 30px;
    }

    .a-left h5 {
        font-size: 22px;
    }

    .a-left p {
        font-size: 15px;
    }

    .hleft .fa-heart-pulse {
        padding: 10px 5px;
        font-size: 30px;
        padding: 13px;
    }

    .hbox {
        padding: 0px 11px 0 0;
        margin: 11px 0;
    }

    .testimonial-container {
        padding: 1.6em 1em;
    }

    .a-right {
        padding: 30px 0;
        padding-left: 16px;
    }

}



@media (max-width: 858px){


    .checkbtn{
        display: block;
    }

    .nav-list{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #ecf5fa;
        top: 110px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -ms-transition: all .5s;
        -o-transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        left: 0;
    }

    header{
        position: relative;
        z-index: 1000;
    }

    .h-top{
        width: 100%;
        position: fixed;
        top: 0;
    }

    nav{
        position: fixed;
        top: 30px;
        background-color: #fff;
    }

    /* .slider-content {
        padding: 155px;
    } */

    .slider {
        height: auto;
    }

    .slider-content {
        padding-top: 150px;
    }

    .s-right img {
        width: 350px;
    }

    .slider-content p {
        width: 91%;
    }

    .feat a img {
        width: 160px;
    }

    section {
        padding: 30px 0;
    }

    .a-right img {
        width: 316px;
    }

    .ser-box {
        width: 275px;
    }

    .work-box {
        width: 275px;
    }

    .our-team {
        width: 283px;
        margin: 10px 0;
    }

    .t-wrapper {
        justify-content: space-evenly;
    }

    .contact .left iframe {
        width: 350px;
    }

    .formwrapper {
        margin: 5px 0;
        padding: 5px 0;
    }

    .formwrapper input, .formwrapper button, .formwrapper textarea {
        padding: 8px 10px;
        margin: 5px 0;
        font-size: 15px;
    }

    .sec-heading p {
        font-size: 14px;
    }

    .testimonial-container {
        padding: 1.2em 0.6em;
    }


}


@media (max-width: 768px){
    
    .h-left a span, .h-right a span{
        /* display: none; */
        font-size: 12px;
    }

    .h-top .fa-location-dot, .h-top .fa-envelope, .h-top .fa-phone {
        font-size: 12px;
    }
    .checkbtn{
        margin-right: 20px;
    }

    .h-email {
        margin-right: 8px;
    }

    .feat a img {
        width: 175px;
    }

    .feat {
        flex-wrap: wrap;
    }

    .s-right{
        text-align: center;
    }

    .s-right img {
        margin-bottom: 0;
    }

    .sec-heading h2 {
        font-size: 28px;
    }

    .slider-content h2 {
        font-size: 28px;
    }

    .slider-content p {
        font-size: 14px;
        padding: 14px 0;
    }

    .btn {
        padding: 7px 9px;
        font-size: 14px;
    }

    .wrapper {
        flex-direction: column;
    }

    .hbox {
        justify-content: center;
        flex-direction: row;
        margin: 20px 0px;
        align-items: center;
    }

    .hright h6 {
        font-size: 22px;
    }

    .a-left p {
        font-size: 14px;
    }

    .more-btn {
        margin: 12px 0;
        text-align: left;
    }

    .a-right {
        padding: 10px 0;
        padding-left: 0;
    }

    .a-right img {
        display: inline-block;
        width: 49%;
        height: auto;
        padding: 10px 0;
    }

    .sec-heading h5 {
        font-size: 18px;
    }
    
    .service {
        padding: 20px 0;
    }
    
    .ser-parent {
        flex-direction: row;
    }

    .ser-box {
        width: 225px;
        margin: 10px 0;
    }

    .ser-box h2 {
        font-size: 24px;
    }

    .ser-box img {
        width: 75px;
        padding: 12px;
    }

    .ser-box h2 {
        padding: 2px 0;
    }

    .ser-box p {
        padding: 2px 0;
    }

    .ser-box a {
        padding: 3px 0;
        font-size: 15px;
    }

    .ser-box p {
        color: #8f8f8f;
        font-size: 14px;
    }

    .work-box {
        width: 225px;
    }

    .more-btn {
        margin: 10px 0;
    }

    .ser-parent {
        justify-content: space-between;
    }

    .live-parent {
        flex-direction: row;
    }

    .live-box {
        width: 49%;
        margin: 12px 0;
    }

    .live-box h2 {
        padding: 7px 0;
        padding-bottom: 0px;
        font-size: 24px;
    }

    .live-box span {
        font-size: 12px;
    }

    .live-box .fa-award, .live-box .fa-heart-pulse, .live-box .fa-user, .live-box .fa-trophy {
        font-size: 36px;
    }

    .t-wrapper {
        flex-direction: row;
    }

    .our-team {
        width: 225px;
        margin: 5px 0;
    }

    .our-team {
        padding: 24px 14px;
    }

    .pic img {
        width: 100px;
    }

    .pic img {
        width: 100px;
    }

    .our-team .pic {
        width: 125px;
        height: 125px;
        padding: 5px;
        margin-bottom: 5px;
    }

    .our-team .title {
        margin: 0 0 4px 0;
    }

    .our-team .post {
        margin-bottom: 10px;
    }

    .contact .left iframe {
        width: 100%;
        margin-top: 15px;
    }

    .c-wrapper{
        flex-direction: column-reverse;
    }

    .c-right {
        padding-left: 0px;
    }

    .testimonial-container p {
        line-height: 20px;
        font-size: 14px;
    }

    .twrapper button {
        font-size: 1.6em;
    }

    .testimonial-container img {
        margin: 1.6em auto 1em auto;
    }

    .f-nav li a {
        font-size: 14px;
    }

    .f-nav li {
        padding: 0px 5px;
    }

    .copyright {
        font-size: 12px;
    }

    .our-team {
        margin: 10px 0;
    }

    .s-flex {
        flex-direction: column;
    }

    .feat a img {
        width: 180px;
        padding-top: 10px;
    }

    .feat{
        flex-direction: row;
    }

    .feat a img {
        width: 120px;
        padding-top: 10px;
    }


    .contact .left iframe {
        height: 350px;
    }



}

@media (max-width: 576px){

    .h-left a span, .h-right a span {
        display: none;
    }

    .ser-parent {
        justify-content: center;
    }

    .ser-box {
        width: 250px;
    }

    .our-team {
        width: 45%;
    }

    .work-box {
        width: 45%;
    }

    .ser-parent {
        justify-content: space-evenly;
    }

    .ser-box {
        width: 47%;
    }

}


@media (max-width: 426px){

    .s-right {
        overflow: hidden;
    }

    .ser-box {
        width: 88%;
    }

    .work-box {
        width: 88%;
    }

    .our-team {
        width: 88%;
    }

    .contact .left iframe {
        height: 250px;
    }

}
